.App {
  text-align: center;
}

.app-bg-primary{
  color:#0a0a0a; 
  background-color:#FF6000;
}

.app-bg-secondary{
  color:#fff; 
  background-color:#0AA1DD;
}

.app-bg-complementary{
  color:#0a0a0a;  
  background-color: #008069;
}

.link-button {
  background: none;
  color: blue;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.ListItem {
  margin-bottom: auto;
}

.Link {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.WhatsappButton {
  background-color: #008069; /* Color especificado */
  color: white;
  border: radius;
  padding: 0.5rem 1rem;
  border-radius: 50px; /* Botón redondeado */
  cursor: pointer;
  margin-top: 1rem;

  &:hover {
    background-color: #005a4b; /* Un verde ligeramente más oscuro al pasar el cursor */
  }
}