.App {
  text-align: center;
}

.app-bg-primary{
  color:#0a0a0a; 
  background-color:#ff980e;
}

.app-bg-secondary{
  color:#fff; 
  background-color:#0E76FF;
}

.app-bg-complementary{
  color:#0a0a0a;  
  background-color: #008069;
}

.link-button {
  background: none;
  color: blue;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}