.App {
  text-align: center;
}

.app-bg-primary{
  color:#0a0a0a; 
  background-color:#ff980e;
}

.app-bg-secondary{
  color:#fff; 
  background-color:#0e76ff;
}

.app-bg-complementary{
  color:#0a0a0a;  
  background-color: #e9fb00;
}