/* Estilos para el menú desplegable */
.dropdown-toggle,
.btn {
  background-color: #3C3D37; /* Fondo gris */
  border: 3px solid #FF6000; /* Borde de 3 puntos con el color naranja */
  border-radius: 5px;
  color: white; /* Color del texto */
  cursor: pointer;
  width: 140px; /* Ancho fijo para igualar el tamaño */
  height: 45px; /* Altura fija para igualar el tamaño */
}

.dropdown-toggle:hover,
.btn:hover {
  background-color: #B7B7B7; /* Color de fondo al pasar el mouse */
  color: black; /* Color del texto al pasar el mouse */
}

.dropdown-toggle::after {
  color: white; /* Color de la flecha del desplegable */
}

.dropdown-menu {
  background-color: #3C3D37; /* Fondo del menú desplegable */
  border: 3px solid #FF6000; /* Bordes de 3 puntos de grosor en color naranja */
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #B7B7B7; /* Color de fondo al pasar el mouse */
  color: black; /* Color del texto al pasar el mouse */
}

/* Media queries para la responsividad */
@media (max-width: 768px) {
  .dropdown-toggle,
  .btn {
    width: 100%; /* Ancho completo en pantallas pequeñas */
  }
}
