/* Estilo común para las secciones */
.SectionBackground {
  position: relative;
  background-image: url('/images/oip.jpeg'); /* Ruta de la imagen en la carpeta public/images */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding: 20px;
  color: white; /* Ajusta los colores de texto si es necesario */
}

.SectionContent {
  position: relative;
  z-index: 1;
}

.imagenfondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Asegura que la imagen de fondo esté detrás del contenido */
}
